<!DOCTYPE html>

<!--{% block title %}SignUp{% endblock %}-->

{% block content %}
  <h2>SignUp</h2>
      <div class="container">
    <label><b>username</b></label>
    <input type="text" placeholder="Enter username" name="username" required>

      <label><b>Email Address</b></label>
    <input type="text" placeholder="Enter Name" name="name" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Submit</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>
{% endblock %}