<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% block content %}
    <h1>Transaction List</h1>

    {% if object_list %}
    <ul>
    <table style="width:100%">
        <th>amount</th>
        <th>rounded_amount</th>
        <th>donation</th>
        <th>date</th>
        <th>transactionid</th>
      {% for transaction in object_list %}
              <tr>
                <td>{{transaction.amount }}</td>
                <td>{{transaction.rounded_amount}}</td>
                <td>{{transaction.donation}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.transactionid}}</td>
              </tr>
      {% endfor %}
    </table>
    </ul>
    {% else %}
      <p>There are no Donations been made</p>
    {% endif %}
{% endblock %}
